<h4>Login</h4>
<div class="card">

    <form action="/usuarios/login" method="post">

        <div class="card-body">
        <label for="email">E-mail:</label>
        <input type="email" name="email" required class="form-control">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" required class="form-control"> <br>
        <button class="btn btn-success">Entrar</button>
    </div>

    </form>

</div>